<%= render "shared/header" %>
<h1>Cool Secrets</h1>


<table>
<% @yo.each do |x| %>
    <tr>
        <td><%= x.content %></td>
        <td>
            <form action = "/secrets/<%= x.id %>" method = "post">
                <input type = "hidden" name = "_method" value = "delete" />
                <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>" />
                <input type = "submit" value = "Delete" />
            </form>
        </td>
    </tr>
    <tr>
        <td>Likes</td>
        <td>
            <form action = "/secrets/<%= x.id %>" method = "post">
                <input type = "hidden" name = "_method" value = "patch" />
                <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>" />
                <input type = "submit" value = "Like" />
            </form>
        </td>
<% end %>
</table>
        

