<%= render "shared/header" %>
<h1>New Secret</h1>

<form action = "/secrets" method = "post">
    <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>" />
    <textarea rows = "3" cols = "15" name = "content"></textarea> 
    <input type = "submit" value = "Submit" />
</form>

<div><strong>My Secrets</strong><br>
<% @user.each do |secret| %>
    <%= secret.content %>
    <form action = "/secrets/<%= secret.id %>" method = "post">
        <input type = "hidden" name = "_method" value = "delete" />
        <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>" />
        <input type = "submit" value = "Delete" />
    </form>
<% end %>
</div>

<div><strong>My Likes</strong><br>
<% @likes.each do |secret| %>
    <p><%= secret.content %></p>
    <p><%= secret.likers.count %></p>
<% end %>
</div>